@mixin flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin inputField {
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 0.2rem;
}

@mixin icon-position
{
  background-size: 2.4rem; // Storleken på ikonen
        background-position: calc(100% - 2rem) 12%; // Placeringen av ikonen, justera värdena efter behov

}