$background-color: #dcdcdc;
$background-color-gray:#D0D0D0;

$font-color: rgba(0, 0, 0, 1);

$padding-m: 1rem;
$padding-l: 2rem;


$margin-m: 1rem;
$margin-l: 2rem;


$width-m: 380px;
$width-l: 500px;

$height-m: 30px;
$height-l: 40px;